#profile img {
    width: 7%;
    height: 7%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
}

body {
    background-color: black;
}

#profile {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#bio {
    color: #999999;
}

button {
    width: 50em;
    border: none;
    padding: 1.5em;
    display: block;
    text-align: center;
    background-color: black;
    /* opacity: 0.33; */
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}