#profile img {
    width: 120px;
    height: 120px;
}

body {
    background-color: black;
}

#profile p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#profile p:nth-of-type(2) {
    color: #999999;
    font-size: small;
}

.anchor-buttons a {
    background-color: #232222;
    color: white;
    border-radius: 15px;
    transition: all 0.25s;
}

.anchor-buttons a:hover {
    background-color: white;
    color: black;
    transform: scale(1.1,1.1);
}

a {
    text-decoration: none;
}

.icons svg {
    transition: all 0.25s;
}

.icons svg:hover {
    transform: scale(1.5,1.5);
}